.banner {
   padding-top: 91px;
   padding-bottom: 15px;
   background-image: url(../../images/bg-main.jpg);
   height: 100%;
   background-attachment: fixed;
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;

   &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(37, 44, 53, 0.6);
      transform: matrix(1, 0, 0, -1, 0, 0);
   }

   &__wrapper {
      position: relative;
      z-index: 10;
   }

   &__title {
      margin-bottom: 30px;
   
      @media screen and (min-width: 1360px) {
         margin-bottom: 130px;
      }
   }

   @media screen and (min-width: 768px) {
      padding-top: 165px;
      padding-bottom: 50px;
      min-height: 500px;
   }

   @media screen and (min-width: 1360px) {
      min-height: 800px;
      padding-top: 256px;
      padding-bottom: 100px;
   }
}

.calendar {
   background: rgba(255, 255, 255, 0.3);
   backdrop-filter: blur(25px);
   padding: 15px;

   @media screen and (min-width: 768px) {
      padding: 20px;
   }

   @media screen and (min-width: 1360px) {
      padding: 40px;
   }
}