.calendar {
   &__btn {
      background-color: $secondary;
      transition: all 0.2s linear;
      clip-path: polygon(100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
      &:hover {
         background-color: #E8BC89;
      }

      &:active {
         background-color: #E8BC89;
      }
   }
}

.form {
   &__field {
      margin-bottom: 15px;
      &:last-child {
         margin-bottom: 0;
      }
      @media screen and (min-width: 768px) {
         margin-bottom: 21px;
      }
      @media screen and (min-width: 1360px) {
         margin-bottom: 0;
      }
   }
}

.field {
   &__label {
      position: relative;
      width: 100%;
      cursor: pointer;
   }

   &__btn {
      position: absolute;
      top: 50%;
      right: 14px;
      transform: translateY(-50%);
      .icon {
         width: 18px;
         height: 18px;
         fill: $secondary;
         transition: all 0.2s linear;
         @media screen and (min-width: 768px) {
            height: 20px;
            width: 20px;
            right: 11px;
         }
      
         @media screen and (min-width: 1360px) {
            right: 10px;
         }
      }

      &--active {
         .icon {
            transform: rotate(180deg);
         }
      }
   }

   &:hover {
      .field__btn {
         .icon {
            fill: #E8BC89;
         }
      }
   }
}

.input {
   padding: 11px 36px 11px 14px;
   background-color: #FFF;
   border: none;
   width: 100%;
   height: 45px;
   &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      color: #808080;
   }

   @media screen and (min-width: 768px) {
      height: 50px;
      padding: 13px 35px 13px 10px;
   }

   @media screen and (min-width: 1360px) {
      height: 60px;
      padding: 17px 45px 17px 15px;
   }
}

.quantity {
   &__list {
      position: absolute;
      top: 102%;
      width: 100%;
      background-color: #FFF;

      max-height: 0px;
      overflow: hidden;
      transition: all 0.1s linear;
   }

   &__label {
      display: block;
      padding: 10px;
      color: $primary;
      transition: all 0.2s linear;
      cursor: pointer;
      &:hover {
         background-color: $secondary;
         color: #FFF;
      }
   }

   &__input {
      width: 0;
      height: 0;
      opacity: 0;
   }
}