
// @mixin for-lg(){
//    @media (min-width:992px){
//       @content
//    }
// }

// @include for-lg(){ 

// }
.grid {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: repeat(auto-fill, 1fr);
   grid-gap: 15px;

   &__item {
      grid-column: 1 / 2;
      &:nth-child(1) {
         grid-row: 1 / 2;
      }
      &:nth-child(2) {
         grid-row: 2 / 3;
      }
      &:nth-child(3) {
         grid-row: 3 / 4;
      }
      &:nth-child(4) {
         grid-row: 4 / 5;
      }

      &--big {
         grid-row: 5 / 6;
      }
   }

   @media screen and (min-width: 768px) {
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));

      &__item {
         &:nth-child(1) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
         }
         &:nth-child(2) {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
         }
         &:nth-child(3) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
         }
         &:nth-child(4) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
         }
   
         &--big {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
         }
      }
   }

   @media screen and (min-width: 1360px) {
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);

      &__item {
         &:nth-child(1) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
         }
         &:nth-child(2) {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
         }
         &:nth-child(3) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
         }
         &:nth-child(4) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
         }
   
         &--big {
            grid-column: 3 / 4;
            grid-row: 1 / 3;
         }
      }
   }
}

.room-card {
   position: relative;

   &__wrapper {
      position: relative;
      background-color: $primary;
      padding: 10px 15px;
      height: 100%;
      display: flex;
      flex-direction: column;
      z-index: 2;
      transition: all 0.3s linear;

      &:first-child {
         @media screen and (min-width: 768px) {
            .comfort--big {
               display: none;
            }
         }

         @media screen and (min-width: 1360px) {
            .comfort--big {
               display: block;
            }
         }
      }

      &--right {
         display: none;
         .room-card__info {
            display: none;
         }
         @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            .room-card__info {
               display: block;
               margin: none;
               .comfort--big {
                  margin-bottom: -20px;
               }
            }
         }

         @media screen and (min-width: 1360px) {
            display: none;
            .room-card__info {
               display: none;
            }
         }
      }

      @media screen and (min-width: 768px) {
         padding: 10px 20px;
      }
   
      @media screen and (min-width: 1360px) {
         padding: 15px 20px;
      }
   }

   &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      object-fit: cover;
      z-index: 0;
   }

   &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.3;
      color: #FFF;
      margin-bottom: 12px;

      @media screen and (min-width: 768px) {
         font-size: 26px;
      }
   }

   &__desc {
      display: flex;
      align-items: center;
      position: relative;
      padding-bottom: 22px;
      margin-bottom: 20px;

      font-weight: 400;
      font-size: 13px;
      color: #FFF;
      line-height: 17px;

      .icon {
         width: 20px;
         height: 20px;
         fill: $secondary;

         @media screen and (min-width: 1360px) {
            width: 25px;
            height: 25px;
         }
      }

      &::after {
         position: absolute;
         bottom: 0;
         left: 0;

         content: '';
         display: block;
         width: 100%;
         height: 2px;
         background-color: $secondary;
      }

      @media screen and (min-width: 768px) {
         font-size: 14px;
      }

   }

   &__info {
      display: flex;
      align-items: center;

      .icon {
         width: 20px;
         height: 20px;
         fill: $secondary;
      }

      @media screen and (min-width: 768px) {
         .icon {
            width: 25px;
            height: 25px;
         }
      }

      @media screen and (min-width: 1360px) {
         margin-bottom: 24px;
      }

   }

   &__icon {
      margin-right: 10px;
   }

   &__info {
      margin-bottom: 20px;

      @media screen and (min-width: 1360px) {
         margin-bottom: 26px;
      }
   }

   &__comfort {
      margin-left: auto;
      width: 165px;
   }

   &__buttons {
      display: flex;
      margin-top: auto;
   }

   &__area {
      font-weight: 700;
      font-size: 45px;
      line-height: 1.3;
      color: #FFF;
   }

   &--big {
      height: 100%;
      .room-card__area {
         margin-bottom: 50px;
      }
      .room-card__info {
         display: flex;
         align-items: start;
         @media screen and (min-width: 768px) {
            flex-direction: column;
         }
      }

      .room-card__comfort {
         @media screen and (min-width: 768px) {
            width: 100%;
            margin-left: 0;
         }
      }

      .room-card__buttons {
         margin-top: auto;
      }

      @media screen and (min-width: 768px) {
         display: flex;

         .room-card__wrapper {
            &--left {
               @media screen and (min-width: 768px) {
                  .room-card__info {
                     margin-bottom: 30px;
                     .room-card__area {
                        margin-bottom: 0;
                     }
                     .comfort--big {
                        display: none;
                     }
                  }
               }

               @media screen and (min-width: 1360px) {
                  width: 100%;
                  .room-card__info {
                     margin-bottom: 20px;
                     .room-card__area {
                        margin-bottom: 50px;
                     }
                     .comfort--big {
                        display: flex;
                     }
                  }
               }
            }
         }
      }
   }

   &:hover {
      .room-card__wrapper {
         background-color: rgba(41, 58, 80, 0.7);
      }
   }
}

.box-buttons {
   &__left {
      padding: 13px;

      @media screen and (min-width: 768px) {
         margin-right: 20px;
      }
   }

   &__right {
      flex: 1 1 auto;
   }
}

.comfort {
   display: flex;
   flex-wrap: wrap;

   gap: 10px;

   &__item {
      display: flex;
      align-items: flex-start;

      font-weight: 400;
      font-size: 14px;
      color: #FFF;

      span {
         padding-left: 15px;
      }
   }

   &--big {
      .comfort__item {
         margin-bottom: 20px;
         span {
            display: none;
            @media screen and (min-width: 768px) {
               display: block;
            }
         }

         @media screen and (min-width: 768px) {
            width: 50%;
         }
      }
      @media screen and (min-width: 768px) {
         gap: 0;
      }
   }
}