.ui-datepicker {
   display: flex;
   background-color: #FFF;
   padding: 20px;
   z-index: 99 !important;
   left: 50% !important;
   top: 50% !important;
   transform: translateX(-50%);
   width: auto !important;
}

.ui-datepicker-calendar {
   td {
      width: 50px;
      min-width: 50px;
      height: 50px;
      padding: 2px;
      text-align: center;
      background-color: rgba(41, 58, 80, 0.1);
      border: 1px solid $background;
      transition: all 0.2s linear;
      cursor: pointer;
      position: relative;
      &::after {
         content: '';
         display: block;
         width: 0;
         height: 0;
         border-top: 25px solid transparent;
         border-right: 15px solid $primary;
         border-bottom: 25px solid transparent;

         position: absolute;
         right: 0;
         top: 0;
         opacity: 0;
         transition: all 0.2s linear;
      }
      a {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 100%;
         height: 100%;
         color: $primary;
         font-weight: 600;
         transition: all 0.2s linear;
      }

      &:hover {
         background-color: rgba(41, 58, 80, 0.66);
         &::after {
            opacity: 0.66;
         }
         a {
            color: #FFF;
         }
      }
   }
}

.ui-datepicker table {
   width: 100%;
}

.ui-datepicker-calendar .ui-state-active {
   background-color: $primary;
   color: #FFF;
}

.ui-datepicker-title {
   display: flex;
   justify-content: center;
   font-weight: 600;
}

.ui-datepicker-calendar th span {
   font-size: 14px;
   font-weight: 400;
}

.ui-datepicker-next, .ui-datepicker-prev {
   span {
      font-size: 0;
      display: block;
      width: 20px;
      height: 20px;
      cursor: pointer;
   }
}

.ui-datepicker-next {
   margin-left: auto;
   span {
      background: url(../../images/icons/arrow-right.svg) center no-repeat;
   }
}

.ui-datepicker-prev {
   span {
      background: url(../../images/icons/arrow-right.svg) center no-repeat;
      transform: rotate(180deg);
   }
}

.ui-datepicker-calendar th:nth-last-child(-n+2) span {
   color: red;
}