.gallery {
   &__sliders {
      background-color: $primary;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      height: 384px;
      @media screen and (min-width: 768px) {
         flex-direction: row;
         height: 330px;
      }

      @media screen and (min-width: 1360px) {
         height: 600px;
      }
   }

   &__preview {
      * {
         box-sizing: border-box;
      }
      padding: 15px 15px 30px 15px;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 160px;
      flex: 0 0 auto;
      @media screen and (min-width: 768px) {
         padding: 20px 40px 20px;
         width: 231px;
         height: auto;
      }
   
      @media screen and (min-width: 1360px) {
         padding: 30px 60px 30px 30px;
         width: 420px;
         height: auto;
      }

      .swiper-slide-active {
         .gallery-preview__photo {
            transition: all 0.2s linear;
            border: 2px solid transparent;
         }
      }

      .swiper-slide-thumb-active {
         .gallery-preview__photo {
            border: 2px solid #CC9C63;
         }
      }
   }

   &-preview__photo {
      width: 100%;
      height: 100%;
      display: block;
      img {
         display: block;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

.gallery-main {
   width: 100%;
   overflow: hidden;
   * {
      box-sizing: border-box;
   }

   &__wrapper {
      height: 100%;
   }

   &__slide {
      height: 100%;
   }
}

.gallery-preview {
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;

   * {
      box-sizing: border-box;
   }

   &__slide {
      width: 100%;
      cursor: pointer;
   }

   &__scrollbar {
      height: 100%;
      position: absolute;
      right: 10px;
      top: 0;
      background: rgba(255, 255, 255, 0.3);
      .swiper-scrollbar-drag {
         width: 10px;
         height: auto;
         background-color: #CC9C63;
      }
   }

   &__btn {
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 9px;
      background: rgba(245, 243, 240, 0.6);
      backdrop-filter: blur(30px);
      transition: all 0.2s linear;
      cursor: pointer;

      position: absolute;
      top: 50%;
      z-index: 99;

      .icon {
         width: 20px;
         height: 20px;
         fill: $primary;
         transition: fill 0.2s linear;
      }

      &--prev {
         left: 0;
         transform: translate(-50%, -50%);
         .icon {
            transform: rotate(180deg);
         }
      }

      &--next {
         right: 0;
         transform: translate(50%, -50%);
      }

      &:active {
         background: $primary;
         .icon {
            fill:rgba(245, 243, 240, 0.6) ;
         } 
      }
   }

   @media screen and (min-width: 768px) {
      height: 100%;
   }
}