.services {
   &__bloc {
      .col {
         padding-bottom: 25px;
      }
   }
}

.card-activities {
   display: flex;
   align-items: center;
   background-color: #FFF;
   padding: 5px 34px 5px 0;
   overflow: hidden;

   &__desc {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.3;
      text-transform: uppercase;
      color: $primary;
   }
   .clock-rotate {
      transition: all 0.2s linear;
   }
   &:hover {
      .clock-rotate {
         transform: rotate(10deg);
      }
   }
}